/*  your css code here. If applicable */
 
body{
	  background: #cbd6cb;
	  width:1100px
}
       
table,tr,td{
	border:1px solid black;
}
   .x{
	   width:200px;
	   text-align:center;
	   padding-top:5px
   }

 .y{
	width:600px;
	text-align:center;
 }
  
  
   
  